.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 140px;
    font-size: 15px;
    height: 92px;
}

.menu{
    list-style-type: none;
    display: flex;
    gap: 40px;
}

.menu li a{
    text-decoration: none;
    color: black;
}

.navbar img{
    height: 50px;
}

.btn{
    background-color: #26a159;
    padding: 15px 25px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}